@model List<TestimonialViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Adı</th>
        <th>Referans Ünvan</th>
        <th>Açıklama</th>
        <th>Fotoğraf</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ID</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Image</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.ID/" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.ID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Testimonial/AddTestimonial/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Referans Girişi</a>